# Ignorar ambiente virtual
.venv/
venv/
__pycache__/

# Arquivos temporários de sistema
.DS_Store
Thumbs.db
*.log

# Dados e saídas grandes
data/raw/
data/multitemporal/**/*.tif
outputs/**/*.csv
outputs/**/*.pth
outputs/**/*.npy
outputs/**/*.npz
outputs/**/*.json

# Backups e versões intermediárias
*backup*
*temp*
*.bak

# Arquivos compactados
*.zip
*.rar
*.7z

# Configurações locais / IDE
.vscode/
.idea/
.env
*.code-workspace

# Cache de bibliotecas
pip-wheel-metadata/
__pypackages__/
*.egg-info/
build/
dist/
